.button-heights {
    height: 34px;
}

.select-button {
    margin-left: 10px !important;
}

/* 模态框高度 */
.table-responsives {
    height: 600px;
    overflow: auto;
}

/* 表格样式 */
.tb_departments > tbody > tr > td {
    text-align: center;
}

.tb_departments thead > tr > th {
    text-align: center;
}

/* 媒体展示区 */
.plupload-preview {
    padding: 0 10px !important;
    margin-bottom: 0;
}

.plupload-preview li {
    width: 120px;
    margin-top: 10px;
}

.plupload-preview a {
    display: block;
}

.plupload-preview a .img-responsive {
    height: 80px;
    object-fit: cover;
}

.plupload-preview a .media-preview-fa {
    font-size: 80px;
}

.plupload-preview .thumbnail {
    margin-bottom: 10px;
}

.fa-5x {
    font-size: 7em !important;
}